
.formulary{
  display: flex;
  justify-content: center;
  margin: 5% 0 0 0;
}
.link{
  font-size: 25px;
  
}
li {
  list-style-type: none;
}
.api-ul{
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
}

.div-card{
  width: 12rem;
  height: 15rem;
  text-align: center;

}

.text-days{
  position: relative;
  top: 15%;
  margin: 10% 0 10% 0
}
.div-day{
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0 2% 0;
}
.main-day{
  padding: 0.5% 1% 0.5% 1%;
}

.div-text{
  display: flex;
 
}
.min{
  color:#1f06ff
}
.max{
  color:#ff0606
}

.title{
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}
.text{
  position: absolute;
  bottom: 5%;
}
.next-days{
  text-align: center;
}
.spinner{
 text-align: center;
}

.foot, .nav{
  background-color: #b3b3b3;
  font-size: large;
}
.spinner{
  display: flex;
  justify-content: center;
}
.parentDisable{
  position: fixed;
  top: 0;
  left: 0;
  background: #b3b3b3;
  opacity: 0.9;
  z-index: 998;
  height: 100%;
  width: 100%;
}

.overlay-box {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color: rgb(255, 252, 252); background: #b3b3b3; opacity: .8;
  z-index: 1000;
}